<ng-container *ngIf="{ hardware: hardware$ | async } as data">
	<div class="hardware-container">
		<mat-toolbar>{{ data.hardware.name }}</mat-toolbar>
		<div class="hardware">
			<mat-accordion>
				<app-equipment
					*ngFor="let equipment of data.hardware.equipments"
					[equipment]="equipment"
					[hardware]="data.hardware"
					[size]="'expand'"
					(opened)="onOpen($event)"
					><app-equipment-form [equipment]="equipment" expand></app-equipment-form
				></app-equipment>
			</mat-accordion>
		</div>
	</div>
</ng-container>
