<ng-container *ngIf="formState$ | async as fs">
	<form [ngrxFormState]="fs" (submit)="submitForm()">
		<mat-form-field class="form-field">
			<mat-label>
				Имя
			</mat-label>
			<input
				type="text"
				matInput
				placeholder="Новое имя устройства"
				[ngrxFormControlState]="fs.controls.name"
			/>
			<mat-error *ngIf="fs?.controls.name.errors.required"
				>У устройства должно быть имя</mat-error
			>
			<mat-error *ngIf="fs?.controls.name.errors.$exists"
				>Устройство, с таким именем уже есть</mat-error
			>
		</mat-form-field>
		<mat-form-field class="form-field">
			<mat-label>
				Комната
			</mat-label>
			<mat-select [ngrxFormControlState]="fs?.controls.roomName">
				<mat-option *ngFor="let room of rooms$ | async" [value]="room.name">
					{{ room.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<button
			mat-button
			type="submit"
			class="button"
			[disabled]="fs.isInvalid || fs.isValidationPending || fs.isPristine"
		>
			Сохранить
		</button>
		<button
			mat-raised-button
			color="accent"
			type="button"
			class="button"
			(click)="reset()"
			[disabled]="fs.isInvalid && fs.isSubmitted"
		>
			Отмена
		</button>
	</form>
</ng-container>
