<ng-container *ngIf="{ fs: formState$ | async, room: room$ | async } as data">
	<form [ngrxFormState]="data.fs" (submit)="submitForm()" class="room-form">
		<mat-form-field>
			<mat-label>Имя комнаты</mat-label>
			<input
				type="text"
				matInput
				placeholder="Введите имя комнаты"
				[ngrxFormControlState]="data.fs.controls.name"
			/>
			<mat-error *ngIf="data.fs?.controls.name.errors?.required"
				>У комнаты должно быть имя</mat-error
			>
			<mat-error *ngIf="data.fs?.controls.name.errors?.$roomExists">Имя занято</mat-error>
		</mat-form-field>
		<div>
			<button
				mat-button
				type="submit"
				[disabled]="
					data.fs.isInvalid ||
					data.fs.isPristine ||
					data.fs.isSubmitted ||
					data.fs.isValidationPending
				"
			>
				Сохранить
			</button>
			<button
				(click)="reset(data.room)"
				[disabled]="data.fs.isPristine || data.fs.isSubmitted"
				mat-button
				color="accent"
				type="button"
			>
				Отмена
			</button>
		</div>
	</form>
</ng-container>
