<ng-container
	*ngIf="{
		onlyWithDevices: roomsOnlyWithDevices$ | async,
		onlyWithSensors: roomsOnlyWithSensors$ | async
	} as rooms"
>
	<mat-horizontal-stepper #stepper linear>
		<mat-step [stepControl]="eventForm">
			<ng-template matStepLabel>
				Укажите причину
			</ng-template>

			<form [formGroup]="eventForm" class="form">
				<mat-form-field appearance="fill" class="name-form-field" color="primary">
					<mat-label>Название команды</mat-label>
					<input
						formControlName="name"
						matInput
						placeholder="Придумайте название команды"
						type="text"
					/>
					<mat-error *ngIf="nameControl?.errors?.required"
						>Поле не должно быть пустым</mat-error
					>
					<mat-error *ngIf="nameControl?.errors?.notUnique"
						>Команда с таким именем уже есть</mat-error
					>
				</mat-form-field>
				<table>
					<tr>
						<th class="form-column form-column__left">Заполните форму</th>
						<th class="form-column form-column__right">Получите условие</th>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<button
								(menuClosed)="chosenSensorControl?.markAsDirty()"
								[color]="
									chosenSensorControl?.errors?.required &&
									chosenSensorControl?.dirty
										? 'warn'
										: 'primary'
								"
								[matMenuTriggerData]="{
									roomArray: rooms.onlyWithSensors,
									stage: 'event'
								}"
								[matMenuTriggerFor]="roomsMenu"
								mat-raised-button
								type="button"
							>
								Выберите сенсор
							</button>
						</td>
						<td class="form-column form-column__right">
							<app-equipment
								*ngIf="aboutEventSensor"
								[equipment]="aboutEventSensor?.equipment"
								[hardware]="aboutEventSensor?.hardware"
								[room]="aboutEventSensor?.room"
								class="mat-elevation-z2"
								size="small"
							></app-equipment>
						</td>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<mat-form-field appearance="fill" class="wide-form-field">
								<mat-label>Значение </mat-label>
								<input
									formControlName="sensorValue"
									matInput
									placeholder="Значение"
									type="number"
								/>
								<mat-error *ngIf="sensorValueControl?.errors?.required"
									>Поле не должно быть пустым</mat-error
								>
								<mat-error *ngIf="sensorValueControl?.errors?.pattern"
									>Разрешены только цифры</mat-error
								>
							</mat-form-field>
							<mat-form-field appearance="fill" class="wide-form-field">
								<mat-label>
									Сравнение
								</mat-label>
								<mat-select formControlName="comparator">
									<mat-option
										*ngFor="let comp of comparisons"
										[value]="comp.sign"
									>
										{{ comp.label }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="comparatorControl?.errors?.required"
									>Поле не должно быть пустым</mat-error
								>
							</mat-form-field>
						</td>
						<td class="form-column form-column__right">
							<mat-card
								*ngIf="
									aboutEventSensor &&
									comparatorControl?.value &&
									sensorValueControl?.value
								"
								>{{ aboutEventSensor?.equipment?.type }} будет
								{{ comparatorControl?.value }}
								{{
									sensorValueControl?.value | unit: aboutEventSensor?.equipment
								}}</mat-card
							>
						</td>
					</tr>
				</table>
			</form>

			<button (click)="chosenSensorControl?.markAsDirty()" mat-button matStepperNext>
				Далее
			</button>
		</mat-step>
		<mat-step [stepControl]="resultForm">
			<ng-template matStepLabel>
				Обработайте результат
			</ng-template>
			<form [formGroup]="resultForm">
				<table>
					<tr>
						<th class="form-column form-column__left">Заполните форму</th>
						<th class="form-column form-column__right">Получите результат</th>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<button
								(menuClosed)="chosenDeviceControl?.markAsDirty()"
								[color]="
									chosenDeviceControl?.errors?.required &&
									chosenDeviceControl?.dirty
										? 'warn'
										: 'primary'
								"
								[matMenuTriggerData]="{
									roomArray: rooms.onlyWithDevices,
									stage: 'result'
								}"
								[matMenuTriggerFor]="roomsMenu"
								mat-raised-button
								type="button"
							>
								Выберите устройство
							</button>
						</td>
						<td class="form-column form-column__right">
							<app-equipment
								*ngIf="aboutResultDevice"
								[equipment]="aboutResultDevice?.equipment"
								[hardware]="aboutResultDevice?.hardware"
								[room]="aboutResultDevice?.room"
								class="mat-elevation-z2"
								size="small"
							></app-equipment>
						</td>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<mat-form-field appearance="fill" class="mat-form-field-flex">
								<mat-label>
									Устройство
								</mat-label>
								<mat-select formControlName="deviceValue">
									<mat-option *ngFor="let state of [true, false]" [value]="state">
										{{ state ? 'Включить' : 'Выключить' }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="deviceValueControl?.errors?.required"
									>Поле не должно быть пустым</mat-error
								>
							</mat-form-field>
						</td>
						<td class="form-column form-column__right">
							<mat-card *ngIf="aboutResultDevice"
								>Устройство
								{{ deviceValueControl?.value ? 'Включить' : 'Выключить' }}
							</mat-card>
						</td>
					</tr>
				</table>
			</form>
			<button (click)="submitForm()" mat-button>Готово</button>
		</mat-step>
	</mat-horizontal-stepper>

	<mat-menu #roomsMenu>
		<ng-template let-roomArray="roomArray" let-stage="stage" matMenuContent>
			<ng-container *ngFor="let room of roomArray">
				<button
					*ngIf="!!room?.hardwareEntityState.ids.length"
					[matMenuTriggerData]="{
						room: room,
						stage: stage
					}"
					[matMenuTriggerFor]="hardwaresMenu"
					mat-menu-item
				>
					{{ room?.name }}
				</button>
			</ng-container>
		</ng-template>
	</mat-menu>

	<mat-menu #hardwaresMenu>
		<ng-template let-room="room" let-stage="stage" matMenuContent>
			<ng-container *ngFor="let hardware of getHardwares(room)">
				<button
					[matMenuTriggerData]="{
						hardware: hardware,
						room: room,
						stage: stage
					}"
					[matMenuTriggerFor]="equipmentsMenu"
					mat-menu-item
				>
					{{ hardware?.name }}
				</button>
			</ng-container>
		</ng-template>
	</mat-menu>

	<mat-menu #equipmentsMenu>
		<ng-template let-hardware="hardware" let-room="room" let-stage="stage" matMenuContent>
			<button
				(click)="createAboutEquipment(stage, room, hardware, equipment)"
				*ngFor="let equipment of getEquipments(hardware)"
				mat-menu-item
			>
				{{ equipment?.name || equipment?.id }}
			</button>
		</ng-template>
	</mat-menu>
</ng-container>
