<ng-container
	*ngIf="{
		roomsOnlyWithDevices: roomsOnlyWithDevices$ | async,
		roomsOnlyWithSensors: roomsOnlyWithSensors$ | async
	} as data"
>
	<mat-horizontal-stepper #stepper linear>
		<mat-step [stepControl]="eventForm">
			<ng-template matStepLabel>
				Укажите причину
			</ng-template>

			<form [formGroup]="eventForm" class="form">
				<mat-form-field appearance="fill" color="primary" class="name-form-field">
					<mat-label>Название команды</mat-label>
					<input
						type="text"
						matInput
						formControlName="name"
						placeholder="Придумайте название команды"
					/>
					<mat-error *ngIf="nameControl?.errors?.required"
						>Поле не должно быть пустым</mat-error
					>
					<mat-error *ngIf="nameControl?.errors?.notUnique"
						>Команда с таким именем уже есть</mat-error
					>
				</mat-form-field>
				<table>
					<tr>
						<th class="form-column form-column__left">Заполните форму</th>
						<th class="form-column form-column__right">Получите условие</th>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<button
								type="button"
								mat-raised-button
								[color]="
									chosenSensorControl?.errors?.required &&
									chosenSensorControl?.dirty
										? 'warn'
										: 'primary'
								"
								[matMenuTriggerFor]="roomsMenu"
								[matMenuTriggerData]="{
									roomArray: data.roomsOnlyWithSensors,
									stage: 'event'
								}"
								(menuClosed)="chosenSensorControl?.markAsDirty()"
							>
								Выберите сенсор
							</button>
						</td>
						<td class="form-column form-column__right">
							<app-equipment
								*ngIf="aboutEventSensor"
								size="small"
								[equipment]="aboutEventSensor?.equipment"
								[hardware]="aboutEventSensor?.hardware"
								[room]="aboutEventSensor?.room"
								class="mat-elevation-z2"
							></app-equipment>
						</td>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<mat-form-field class="wide-form-field" appearance="fill">
								<mat-label>Значение </mat-label>
								<input
									type="number"
									matInput
									formControlName="sensorValue"
									placeholder="Значение"
								/>
								<mat-error *ngIf="sensorValueControl?.errors?.required"
									>Поле не должно быть пустым</mat-error
								>
								<mat-error *ngIf="sensorValueControl?.errors?.pattern"
									>Разрешены только цифры</mat-error
								>
							</mat-form-field>
							<mat-form-field appearance="fill" class="wide-form-field">
								<mat-label>
									Сравнение
								</mat-label>
								<mat-select formControlName="comparator">
									<mat-option
										*ngFor="let comp of comparisons"
										[value]="comp.sign"
									>
										{{ comp.label }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="comparatorControl?.errors?.required"
									>Поле не должно быть пустым</mat-error
								>
							</mat-form-field>
						</td>
						<td class="form-column form-column__right">
							<mat-card
								*ngIf="
									aboutEventSensor &&
									comparatorControl?.value &&
									sensorValueControl?.value
								"
								>{{ aboutEventSensor?.equipment?.type }} будет
								{{ comparatorControl?.value }}
								{{
									sensorValueControl?.value | unit: aboutEventSensor?.equipment
								}}</mat-card
							>
						</td>
					</tr>
				</table>
			</form>

			<button mat-button matStepperNext (click)="chosenSensorControl?.markAsDirty()">
				Далее
			</button>
		</mat-step>
		<mat-step [stepControl]="resultForm">
			<ng-template matStepLabel>
				Обработайте результат
			</ng-template>
			<form [formGroup]="resultForm">
				<table>
					<tr>
						<th class="form-column form-column__left">Заполните форму</th>
						<th class="form-column form-column__right">Получите результат</th>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<button
								type="button"
								mat-raised-button
								[color]="
									chosenDeviceControl?.errors?.required &&
									chosenDeviceControl?.dirty
										? 'warn'
										: 'primary'
								"
								[matMenuTriggerFor]="roomsMenu"
								[matMenuTriggerData]="{
									roomArray: data.roomsOnlyWithDevices,
									stage: 'result'
								}"
								(menuClosed)="chosenDeviceControl?.markAsDirty()"
							>
								Выберите устройство
							</button>
						</td>
						<td class="form-column form-column__right">
							<app-equipment
								*ngIf="aboutResultDevice"
								size="small"
								[equipment]="aboutResultDevice?.equipment"
								[hardware]="aboutResultDevice?.hardware"
								[room]="aboutResultDevice?.room"
								class="mat-elevation-z2"
							></app-equipment>
						</td>
					</tr>
					<tr>
						<td class="form-column form-column__left">
							<mat-form-field appearance="fill" class="mat-form-field-flex">
								<mat-label>
									Устройство
								</mat-label>
								<mat-select formControlName="deviceValue">
									<mat-option *ngFor="let state of [true, false]" [value]="state">
										{{ state ? 'Включить' : 'Выключить' }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="deviceValueControl?.errors?.required"
									>Поле не должно быть пустым</mat-error
								>
							</mat-form-field>
						</td>
						<td class="form-column form-column__right">
							<mat-card *ngIf="aboutResultDevice"
								>Устройство
								{{ deviceValueControl?.value ? 'Включить' : 'Выключить' }}
							</mat-card>
						</td>
					</tr>
				</table>
			</form>
			<button mat-button (click)="addCommand()">Создать команду</button>
		</mat-step>
	</mat-horizontal-stepper>

	<mat-menu #roomsMenu>
		<ng-template matMenuContent let-roomArray="roomArray" let-stage="stage">
			<ng-container *ngFor="let room of roomArray">
				<button
					mat-menu-item
					*ngIf="!!room?.hardwares?.length"
					[matMenuTriggerFor]="hardwaresMenu"
					[matMenuTriggerData]="{
						room: room,
						stage: stage
					}"
				>
					{{ room?.name }}
				</button>
			</ng-container>
		</ng-template>
	</mat-menu>

	<mat-menu #hardwaresMenu>
		<ng-template matMenuContent let-room="room" let-stage="stage">
			<ng-container *ngFor="let hardware of room?.hardwares">
				<button
					mat-menu-item
					[matMenuTriggerFor]="equipmentsMenu"
					[matMenuTriggerData]="{
						hardware: hardware,
						room: room,
						stage: stage
					}"
				>
					{{ hardware?.name }}
				</button>
			</ng-container>
		</ng-template>
	</mat-menu>

	<mat-menu #equipmentsMenu>
		<ng-template matMenuContent let-room="room" let-hardware="hardware" let-stage="stage">
			<button
				mat-menu-item
				*ngFor="let equipment of hardware.equipments"
				(click)="createAboutEquipment(stage, room, hardware, equipment)"
			>
				{{ equipment?.name || equipment?.id }}
			</button>
		</ng-template>
	</mat-menu>
</ng-container>
