<app-loading></app-loading>
<mat-toolbar color="primary">
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span class="title">{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container class="app-sidenav-container">
	<mat-sidenav #sidenav mode="side" class="app-sidenav" (closed)="onClose()" (opened)="onOpen()">
		<mat-nav-list>
			<a #rla=routerLinkActive  [disabled]="rla.isActive"  mat-list-item routerLink="rooms" routerLinkActive="app-sidenav-link-active">rooms</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item>analytics</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item>commands</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item>safety</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item>settings</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item>sign out</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
