@import 'layout';
@import 'theming';

.app-sidenav {
	width: $layout11 * 4;
	height: 100%;
	background-color: $background-color;
}

.app-sidenav-super {
	overflow: hidden;
	min-height: calc(100% - 64px);
	display: flex;
	flex-direction: column;
}

.app-sidenav-container {
	margin-right: calc(100% - 100vw);
	min-height: 100%;
	flex-grow: 1;
}

.app-sidenav-link-active {
	background-color: $mat-list-item-active-light;
}
