<div class="equip-list">
  <a *ngFor="let equipment of equipmentList$ | async"
     [routerLink]="[equipment.id]"
  >
          <mat-card class="equip-card" matRipple>

                  <mat-card-header>
                      <mat-card-title>
                          {{equipment.name}}
                      </mat-card-title>
                      <mat-card-subtitle>
                          {{equipment.group}}
                      </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content class="equip-card-content">
            <span class="mat-body-strong">
                <ng-container *ngIf="equipment.group === 'sensor'">
                    level of
                </ng-container>
                {{equipment.type}}: {{equipment.value}}</span>
                  </mat-card-content>
          </mat-card>

  </a>
</div>


<router-outlet></router-outlet>
