@import 'layout';
@import 'theming';

.equip-card {
  width: 232px;
  margin: $layout03;
}

.equip-link-active .equip-card-active{
    color: $primary;
}

.equip-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5;
    align-items: center;
    margin-bottom: $layout11;
    border-bottom: 1px solid $border-light;
    padding-bottom: $layout03;
}

.equip-list a {
  text-decoration: none;
}

.equip-card-content {
    margin-bottom: 0;
}
