@import 'layout';
@import 'theming';

.equip-detail {
    width: $layout13 * 5;
    margin: $layout03;
}

.equip {
    display: flex;
    background-color: $app-bar;
    border-bottom: 1px solid $border-light;
}

.equip-form {
    margin: $layout03;
}

.equip-container {
    border-top: 1px solid $border-light;
}
