$base-size: 8px;

$spacing01: 1px;
$spacing02: 2px;
$spacing03: 4px;
$spacing04: $base-size;
$spacing05: 12px;
$spacing06: 16px;
$spacing07: 20px;
$spacing08: 24px;
$spacing09: 28px;
$spacing10: 32px;
$spacing11: 36px;
$spacing12: 40px;
