@import './base';

$layout01: $base-size;
$layout02: 12px;
$layout03: 16px;
$layout04: 20px;
$layout05: 24px;
$layout06: 28px;
$layout07: 32px;
$layout08: 36px;
$layout09: 40px;
$layout10: 50px;
$layout11: 60px;
$layout12: 70px;
$layout13: 80px;
